credit_game_ses/choices/__pycache__
credit_game_ses/credit_game_ses/__pycache__
credit_game_ses/data/__pycache__
credit_game_ses/data/migrations/__pycache__
credit_game_ses/choices/migrations/__pycache__