.Stats{
    font-family: "Press Start 2P", "PT Sans", Calibri, Tahoma, sans-serif;
    text-align: center; 
    position: absolute;
    top: 0%;
}
.Stats-header{
    background-color: #61bdfb;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.container{
    max-width: 860px;
    margin: 0 auto;
}
.card{
    text-align: center; 
    font-family: "Press Start 2P", "PT Sans", Calibri, Tahoma, sans-serif;
    background-color: rgb(61, 117, 118);
    border-radius: 5px;
    padding: 5px 10px 15px;
    margin-top: 20px;
}
.link{
    position:absolute;
    bottom:10%;
    text-align: center;
    display: flex;
    right:2%;
    left:2%;
    align-Items: center;
    justify-Content: center;
    font-family: "Press Start 2P", "PT Sans", Calibri, Tahoma, sans-serif;
    background-color: rgb(61, 117, 118);
    padding: 20px;
    
    
}

.primary{
    font-family: "Press Start 2P", "PT Sans", Calibri, Tahoma, sans-serif;
    color : blue;
}
.secondary{
    font-family: "Press Start 2P", "PT Sans", Calibri, Tahoma, sans-serif;
    color: #D22E1E;
}
.third{
    font-family: "Press Start 2P", "PT Sans", Calibri, Tahoma, sans-serif;
    color:white;
}
.fourth{
    margin-top: 10px;
}
